/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais para o body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #6247AA; /* Cor de fundo roxa */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Alterado para min-height para garantir altura mínima em dispositivos com altura de tela menor */
}

/* Estilos para o container */
.container {
    width: 90%;
    max-width: 430px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #957fef;
    box-shadow: 0 0 30px rgba(134, 58, 58, 0.1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza todo o conteúdo dentro do container */
}

/* Estilos para a caixa de cabeçalho */
.header-box {
    width: 100%;
    max-width: 299px;
    height: 39px;
    background: #fffcfc;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Estilos para o texto do cabeçalho */
.header-text {
    color: #6247aa;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}

/* Estilos para o container das fotos */
.photos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

/* Estilos para o container de cada foto */
.photo-container {
    width: 100%;
    max-width: 170px;
    height: auto;
    background: #a06cd5;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilos para a imagem da foto */
.photo-img {
    max-width: 150px;
    height: auto;
    border-radius: 11px;
    border: 5px solid white;
    object-fit: contain; /* Impede que a imagem estique */
}

/* Estilos para a descrição da foto */
.photo-description {
    text-align: center;
    color: white;
}

/* Estilos para o título da foto */
.photo-title {
    font-size: 12px;
    font-weight: 800;
    margin: 10px 0 5px;
}

/* Estilos para a legenda da foto */
.photo-caption {
    font-size: 12px;
    font-weight: 500;
}

/* Estilos para o texto do rodapé */
.footer-text {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 500;
    margin-top: 20px;
}

/* Estilos para a caixa de música */
.music-box {
    width: 100%;
    max-width: 340px;
    height: 40px;
    background: white;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Estilos para o texto da música */
.music-text {
    text-align: center;
    color: #6247aa;
    font-size: 11px;
    font-weight: 500;
    text-decoration: underline;
}

/* Estilos gerais para todos os botões */
button {
    padding: 10px 20px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: darkgreen;
}

/* Estilos específicos para o botão "Sim" */
button#yesButton {
    background-color: green;
}

button#yesButton:hover {
    background-color: #006400; /* Tom de verde mais escuro ao passar o mouse */
}

/* Estilos específicos para o botão "Não" */
button#noButton {
    background-color: red;
}

button#noButton:hover {
    background-color: #8b0000; /* Tom de vermelho mais escuro ao passar o mouse */
}

/* Layout dos botões */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adicionando espaço entre os botões e outros elementos */
}

/* Estilos para os botões dentro do container */
.button-container button {
    margin: 0 10px; /* Espaço entre os botões */
}

/* Estilos para o textarea */
textarea {
    width: 100%; /* Define a largura máxima como 100% */
    max-width: 300px; /* Define a largura máxima */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
